<?xml version="1.0" encoding="utf-8"?>
<config name="Axapta">
    <SysReferenceGenerate_Wcf>
        <enable>true</enable>
        <svcutil_path>здесь задаётся путь к утилите SvcUtil.exe</svcutil_path>
        <csc_path>C:\Windows\Microsoft.NET\Framework\v3.5\csc.exe</csc_path>
    </SysReferenceGenerate_Wcf>
</config>