<?xml version="1.0" encoding="utf-8"?>
<config name="Axapta">
    <SysReferenceGenerate_NSwag>
        <enable>true</enable>
        <nswag_path>C:\Program Files (x86)\Rico Suter\NSwagStudio\Win\nswag.exe</nswag_path>
        <generate_dll_path>здесь задаётся путь к скрипту generate-dll.bat</generate_dll_path>
    </SysReferenceGenerate_NSwag>
</config>